.nav-bar {
  background: #181818;
  width: 80px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 40px;
      height: auto;
    }
    .logo-name {
        text-align: center;
        margin: 0px;
        color: #d6d6d6;
        font-size: 12px;
        line-height: 1.2;
        text-decoration: none !important;
    }
  }
}
